* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    place-items: center;
    position: absolute;
    top:0;
}

img {
    outline: 1px solid black;
    width: 60%;
}

.hidden {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 1s ease-in-out;
}
